// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task.done{
  background: lightgreen !important;
}

.task.todo{
  background: lightgoldenrodyellow !important;
}

.description{
  color: slategrey;
  font-weight: bold;
}

.task.done label{
  text-decoration: line-through;
}

#editor .segment{
  background-color: lavender !important;
}
